<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Aikataulu</h2>
        <h3 class="section-subheading text-muted">Päivän aikataulu</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/church.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>13:00</h4>
                <h4 class="subheading">Vihkiminen Mikael Agricolan kirkossa</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Mikael Agricolan kirkolla on pysäköintitilaa hyvin
                  rajoitetusti. Paikalle kannattaa tulla mieluiten jalan ja
                  varata säähän sopiva vaatetus.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/Uunisaari.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>13:45</h4>
                <h4 class="subheading">Siirtyminen juhlapaikalle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Siirrymme juhlapaikalle jalan Bestmen ja Kaasojen opastama
                  noin kilometrin matkan. Ilmoitathan jos tarvitset siirtymää
                  varten autokuljetuksen, niin tilaamme sinulle taksin.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/rings.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>14:00</h4>
                <h4 class="subheading">Hääjuhlat</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Juhlimme merellisessä Uunisaaressa hyvän ruuan ja juoman
                  merkeissä. Jos haluat pitää puheen tai esittää ohjelma
                  numeron. Ilmoita siitä Bestmanille.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/hotel.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>00:00</h4>
                <h4 class="subheading">Siirtyminen majoitukseen</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Juhlapaikalla valot sammuvat puolilta öin. Tässä vaiheessa
                  siirrymme kohti majoitusta ja hääpari kohti häämatkaa.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
